.Topbar.navbar {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height:6rem;
	padding: 25px 40px 25px 40px;

	.container-fluid {
		padding: 0;

		.title {
			float: left;
			font-size: 1.8rem;		
			font-weight: 300;

			a, 
			a:focus,
			a:hover {
				text-decoration: none;
				color: #333;
			}

			.divider {
				padding: 0 1rem;
				font-weight: 100;
				color: #eaeaea;
			}
		}
	}
}